<footer class="w-full bg-primary-dark mt-6 p-2 border-t-1 border-gray-300 text-gray-200">
  <div <div class="w-full container mx-auto flex flex-col items-center justify-center text-xs">
    <div class="block">
      {{ site.name }}, {{ site[locale]._t.company_info }}
    </div>
    <div class="block text-gray-300">
      Site generated on {{ site.buildTime  | formatDate("DD", locale) }}. Site generator based on <a href="https://github.com/creasoft-dev/fundamenty">Fundamenty</a> by <a href="https://creasoft.dev/">CreaSoft.dev</a>.
      Powered by <a href="https://www.11ty.dev/" >Eleventy</a>
    </div>
  </div>
</footer>
