<!doctype html>
<html lang="{{ locale }}">
  <head profile="http://www.w3.org/2005/10/profile">
    {% if site.googleTagId %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleTagId }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', '{{ site.googleTagId }}');
      </script>
    {% endif %}
    <title>{{ title }} - {{ site.name }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ site.faviconUrl | url  }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | url }}"/>
    <link href="https://unpkg.com/prismjs@1.21.0/themes/prism-okaidia.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <style>
		.hero {
      background: linear-gradient(to top, transparent, #1a1a1a38 70%), url('{{ "/images/jason-blackeye-nyL-rzwP-Mk-unsplash.jpg"  | url}}') no-repeat center center;
      background-size: cover;
		}
	  </style>
  </head>
  <body>
    {% include './top-nav.njk' %}

    {# Hero #}
    <div class="w-full flex mx-auto hero">
      <div id="hero" class="mt-24 container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div id="hero-label" class="flex flex-col w-full md:w-3/5 justify-center items-start text-center md:text-left">
          <span class="text-4xl text-white">{{ slogan | safe }}<span>
          <div class="block my-2 ">
            <a href="{{ contactUrl | url}}" class="text-base text-white border-2 border-white hover:bg-primary p-2 rounded-lg no-underline hover:text-white">{{ site[locale]._t.contact_us }}</a>
          </div>
        </div>
        {# <div id="hero-visual" class="w-full md:w-3/5 py-6 text-center">
          <span class="text-lg text-white">
            <img class="w-2 md:w-1/5 z-50" src="{{ "/images/hanaloop-icon.png"  | url}}">
          <span> #}
        </div>
      </div>
    </div>

    <div class="container w-full flex flex-wrap mx-auto px-2 pt-8 ">
      <div class="content w-full text-gray-700  p-2">
        {{ content | safe }}
      </div>
    </div>

    {% include './footer.njk' %}

    <script src="{{ '/assets/main.js' | url }}"></script>

    <script>
      /* https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8 */
      /* Toggle dropdown list */

      var navMenuDiv = document.getElementById("nav-content");
      var navMenu = document.getElementById("nav-toggle");

      var header = document.getElementById("header");

      document.onclick = check;

      function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
          // click NOT on the menu
          if (checkParent(target, navMenu)) {
            // click on the link
            navMenuDiv.classList.toggle("hidden");
            if (!navMenuDiv.classList.contains("hidden")) {
              header.classList.remove("bg-opacity-0");
              header.classList.remove("text-white");
            }
          } else {
            // click both outside link and outside menu, hide menu
            navMenuDiv
              .classList
              .add("hidden");
          }
        }
      }

      function checkParent(t, elm) {
        while (t.parentNode) {
          if (t == elm) {
            return true;
          }
          t = t.parentNode;
        }
        return false;
      }

// https://github.com/tailwindtoolbox/Landing-Page/blob/master/index.html

  header.classList.add("bg-opacity-0");
  header.classList.add("text-white");

  document.addEventListener('scroll', function() {
    /*Apply classes for slide in bar*/
	  scrollpos = window.scrollY;

    if(scrollpos < 10){
      // Transparent
      header.classList.add("bg-opacity-0");
      header.classList.add("text-white");
    } else {
	    header.classList.remove("bg-opacity-0");
      header.classList.remove("text-white");
    }
  });
    </script>
  </body>
</html>
